<template name="dropdowns">
	<h1>Dropdown</h1>
	<hr>

	<h2 class="my-4">Single button</h2>

	{{#dropdown label="Dropdown button"}}
		{{> item type="dropdown" href="#dropdowns" label="Action"}}
		{{> item type="dropdown" href="#dropdowns" label="Another action"}}
		{{> item type="dropdown" href="#dropdowns" label="Something else here"}}
	{{/dropdown}}

	{{#code label="Default example with auto lookup for parent to dtermine type. Slower, but less code clutter."}}
		{{|#dropdown label="Dropdown button"}}
			{{|> item href="#dropdowns" label="Action"}}
			{{|> item href="#dropdowns" label="Another action"}}
			{{|> item href="#dropdowns" label="Something else here"}}
		{{|/dropdown}}
	{{/code}}

	{{#code label="With explicit type declaration. Faster, but more code to write"}}
		{{|#dropdown label="Dropdown button"}}
			{{|> item type="dropdown" href="#dropdowns" label="Action"}}
			{{|> item type="dropdown" href="#dropdowns" label="Another action"}}
			{{|> item type="dropdown" href="#dropdowns" label="Something else here"}}
		{{|/dropdown}}
	{{/code}}

    <h3 class="my-4">Use custom HTML inside Dropdown Item</h3>
    
    {{#dropdown label="Dropdown button"}}
        {{#item href="#dropdowns"}}<strong>Action</strong>{{/item}}
        {{#item href="#dropdowns"}}<u>Another action</u>{{/item}}
        {{#item href="#dropdowns"}}<i>Something else here</i>{{/item}}
    {{/dropdown}}

    {{#code}}
        {{|#dropdown label="Dropdown button"}}
            {{|#item href="#dropdowns"}}&lt;strong&gt;Action&lt;/strong&gt;{{|/item}}
            {{|#item href="#dropdowns"}}&lt;u&gt;Another action&lt;/u&gt;{{|/item}}
            {{|#item href="#dropdowns"}}&lt;i&gt;Something else here&lt;/i&gt;{{|/item}}
        {{|/dropdown}}
    {{/code}}


	<h2 class="my-4">Theme colors</h2>

	{{#each themeColors}}
		{{#dropdown label=this type=this}}
            {{> item href="#dropdowns" label="Action"}}
            {{> item href="#dropdowns" label="Another action"}}
            {{> item href="#dropdowns" label="Something else here"}}
		{{/dropdown}}
	{{/each}}

	{{#code}}
		{{|#each themeColors}}
			{{|#dropdown label=this type=this}}
			{{|> item href="#dropdowns" label="Action"}}
			{{|> item href="#dropdowns" label="Another action"}}
			{{|> item href="#dropdowns" label="Something else here"}}
			{{|/dropdown}}
		{{|/each}}
	{{/code}}

	<h2 class="my-4">Split button</h2>

	{{#each themeColors}}
		{{#dropdown label=this type=this split=true}}
            {{> item href="#dropdowns" label="Action"}}
            {{> item href="#dropdowns" label="Another action"}}
            {{> item href="#dropdowns" label="Something else here"}}
		{{/dropdown}}
	{{/each}}

	{{#code}}
		{{|#each themeColors}}
			{{|#dropdown label=this type=this split=true}}
                {{|> item href="#dropdowns" label="Action"}}
                {{|> item href="#dropdowns" label="Another action"}}
                {{|> item href="#dropdowns" label="Something else here"}}
			{{|/dropdown}}
		{{|/each}}
	{{/code}}

	<h2 class="my-4">Sizing</h2>

	{{#dropdown label="Large button" size="lg"}}
        {{> item href="#dropdowns" label="Action"}}
        {{> item href="#dropdowns" label="Another action"}}
        {{> item href="#dropdowns" label="Something else here"}}
	{{/dropdown}}

	{{#dropdown label="Large split button" size="lg" split=true}}
        {{> item href="#dropdowns" label="Action"}}
        {{> item href="#dropdowns" label="Another action"}}
        {{> item href="#dropdowns" label="Something else here"}}
	{{/dropdown}}

	{{#code}}
		{{|#dropdown label="Large button" size="lg"}}
            {{|> item href="#dropdowns" label="Action"}}
            {{|> item href="#dropdowns" label="Another action"}}
            {{|> item href="#dropdowns" label="Something else here"}}
		{{|/dropdown}}

		{{|#dropdown label="Large split button" size="lg" split=true}}
            {{|> item href="#dropdowns" label="Action"}}
            {{|> item href="#dropdowns" label="Another action"}}
            {{|> item href="#dropdowns" label="Something else here"}}
		{{|/dropdown}}
	{{/code}}

	{{#dropdown label="Small button" size="sm"}}
        {{> item href="#dropdowns" label="Action"}}
        {{> item href="#dropdowns" label="Another action"}}
        {{> item href="#dropdowns" label="Something else here"}}
	{{/dropdown}}

	{{#dropdown label="Small split button" size="sm" split=true}}
        {{> item href="#dropdowns" label="Action"}}
        {{> item href="#dropdowns" label="Another action"}}
        {{> item href="#dropdowns" label="Something else here"}}
	{{/dropdown}}

	{{#code}}
		{{|#dropdown label="Small button" size="sm"}}
            {{|> item href="#dropdowns" label="Action"}}
            {{|> item href="#dropdowns" label="Another action"}}
            {{|> item href="#dropdowns" label="Something else here"}}
		{{|/dropdown}}

		{{|#dropdown label="Small split button" size="sm" split=true}}
            {{|> item href="#dropdowns" label="Action"}}
            {{|> item href="#dropdowns" label="Another action"}}
            {{|> item href="#dropdowns" label="Something else here"}}
		{{|/dropdown}}
	{{/code}}

	<h2 class="my-4">Dropup</h2>

	{{#dropdown label="Dropup" direction="up"}}
        {{> item href="#dropdowns" label="Action"}}
        {{> item href="#dropdowns" label="Another action"}}
        {{> item href="#dropdowns" label="Something else here"}}
	{{/dropdown}}

	{{#dropdown label="Split dropup" direction="up" split=true}}
        {{> item href="#dropdowns" label="Action"}}
        {{> item href="#dropdowns" label="Another action"}}
        {{> item href="#dropdowns" label="Something else here"}}
	{{/dropdown}}

	{{#code}}
		{{|#dropdown label="Dropup" direction="up"}}
            {{|> item href="#dropdowns" label="Action"}}
            {{|> item href="#dropdowns" label="Another action"}}
            {{|> item href="#dropdowns" label="Something else here"}}
		{{|/dropdown}}

		{{|#dropdown label="Split dropup" direction="up" split=true}}
            {{|> item href="#dropdowns" label="Action"}}
            {{|> item href="#dropdowns" label="Another action"}}
            {{|> item href="#dropdowns" label="Something else here"}}
		{{|/dropdown}}
	{{/code}}

	<h2 class="my-4">Dropright</h2>

	{{#dropdown label="Dropright" direction="right"}}
        {{> item href="#dropdowns" label="Action"}}
        {{> item href="#dropdowns" label="Another action"}}
        {{> item href="#dropdowns" label="Something else here"}}
	{{/dropdown}}

	{{#dropdown label="Split dropright" direction="right" split=true}}
        {{> item href="#dropdowns" label="Action"}}
        {{> item href="#dropdowns" label="Another action"}}
        {{> item href="#dropdowns" label="Something else here"}}
	{{/dropdown}}

	{{#code}}
		{{|#dropdown label="Dropright" direction="right"}}
            {{|> item href="#dropdowns" label="Action"}}
            {{|> item href="#dropdowns" label="Another action"}}
            {{|> item href="#dropdowns" label="Something else here"}}
		{{|/dropdown}}

		{{|#dropdown label="Split dropright" direction="right" split=true}}
            {{|> item href="#dropdowns" label="Action"}}
            {{|> item href="#dropdowns" label="Another action"}}
            {{|> item href="#dropdowns" label="Something else here"}}
		{{|/dropdown}}
	{{/code}}

	<h2 class="my-4">Dropleft</h2>

	{{#dropdown label="Dropleft" direction="left"}}
        {{> item href="#dropdowns" label="Action"}}
        {{> item href="#dropdowns" label="Another action"}}
        {{> item href="#dropdowns" label="Something else here"}}
	{{/dropdown}}

	{{#dropdown label="Split dropleft" direction="left" split=true}}
        {{> item href="#dropdowns" label="Action"}}
        {{> item href="#dropdowns" label="Another action"}}
        {{> item href="#dropdowns" label="Something else here"}}
	{{/dropdown}}

	{{#code}}
		{{|#dropdown label="Dropleft" direction="left"}}
            {{|> item href="#dropdowns" label="Action"}}
            {{|> item href="#dropdowns" label="Another action"}}
            {{|> item href="#dropdowns" label="Something else here"}}
		{{|/dropdown}}

		{{|#dropdown label="Split dropleft" direction="left" split=true}}
            {{|> item href="#dropdowns" label="Action"}}
            {{|> item href="#dropdowns" label="Another action"}}
            {{|> item href="#dropdowns" label="Something else here"}}
		{{|/dropdown}}
	{{/code}}

	<h2 class="my-4">Menu items</h2>

	<p>Since menu items have such a high variability with this component it may become too opinionated to create a component for them.
	Therefore they are omitted for now.</p>

	<h2 class="my-4">Dropdown options</h2>

	<h3>Offset</h3>

	{{#dropdown label="Dropdown button" offset="10,20"}}
        {{> item href="#dropdowns" label="Action"}}
        {{> item href="#dropdowns" label="Another action"}}
        {{> item href="#dropdowns" label="Something else here"}}
	{{/dropdown}}

	{{#code}}
		{{|#dropdown label="Dropdown button" offset="10,20"}}
            {{|> item href="#dropdowns" label="Action"}}
            {{|> item href="#dropdowns" label="Another action"}}
            {{|> item href="#dropdowns" label="Something else here"}}
		{{|/dropdown}}
	{{/code}}

	<h2 class="my-4">Events</h2>

	{{#dropdown id="eventsExample1" label="On show" onShow=getOnShow}}
        {{> item href="#dropdowns" label="Action" data-value="Action"}}
        {{> item href="#dropdowns" label="Another action" data-value="Another action"}}
        {{> item href="#dropdowns" label="Something else here" data-value="Something else here"}}
	{{/dropdown}}

	{{#dropdown id="eventsExample2" label="On shown" onShown=getOnShown}}
        {{> item href="#dropdowns" label="Action" data-value="Action"}}
        {{> item href="#dropdowns" label="Another action" data-value="Another action"}}
        {{> item href="#dropdowns" label="Something else here" data-value="Something else here"}}
	{{/dropdown}}

	{{#dropdown id="eventsExample3" label="On hide" onHide=getOnHide}}
        {{> item href="#dropdowns" label="Action" data-value="Action"}}
        {{> item href="#dropdowns" label="Another action" data-value="Another action"}}
        {{> item href="#dropdowns" label="Something else here" data-value="Something else here"}}
	{{/dropdown}}

	{{#dropdown id="eventsExample4" label="On hidden" onHidden=getOnHidden}}
        {{> item href="#dropdowns" label="Action" data-value="Action"}}
        {{> item href="#dropdowns" label="Another action" data-value="Another action"}}
        {{> item href="#dropdowns" label="Something else here" data-value="Something else here"}}
	{{/dropdown}}

	{{#code}}
		{{|#dropdown id="eventsExample1" label="On show" onShow=getOnShow}}
			{{|> item href="#dropdowns" data-value="Action" label="Action"}}
			{{|> item href="#dropdowns" data-value="Another action" label="Another action"}}
			{{|> item href="#dropdowns" data-value="Something else here" label="Something else here"}}
		{{|/dropdown}}

		{{|#dropdown id="eventsExample2" label="On shown" onShown=getOnShown}}
            {{|> item href="#dropdowns" data-value="Action" label="Action"}}
            {{|> item href="#dropdowns" data-value="Another action" label="Another action"}}
            {{|> item href="#dropdowns" data-value="Something else here" label="Something else here"}}
		{{|/dropdown}}

		{{|#dropdown id="eventsExample3" label="On hide" onHide=getOnHide}}
            {{|> item href="#dropdowns" data-value="Action" label="Action"}}
            {{|> item href="#dropdowns" data-value="Another action" label="Another action"}}
            {{|> item href="#dropdowns" data-value="Something else here" label="Something else here"}}
		{{|/dropdown}}

		{{|#dropdown id="eventsExample4" label="On hidden" onHidden=getOnHidden}}
            {{|> item href="#dropdowns" data-value="Action" label="Action"}}
            {{|> item href="#dropdowns" data-value="Another action" label="Another action"}}
            {{|> item href="#dropdowns" data-value="Something else here" label="Something else here"}}
		{{|/dropdown}}
	{{/code}}

	<p>Where the helpers are defined as the following:</p>

	{{#code}}
		Template.myTemplate.helpers({
		  getOnShow () {
		    return (res) => alert("shown via " + res.relatedTarget.id)
		  },
		  getOnShown () {
		    return (res) => alert("shown via " + res.relatedTarget.id)
		  },
		  getOnHide () {
		    return (res) => alert("selected: " + $(res.clickEvent.originalEvent.target).data('value'))
		  },
		  getOnHidden () {
		    return (res) => alert("selected: " + $(res.clickEvent.originalEvent.target).data('value'))
		})
	{{/code}}

	<p>Note, that events can also be manually attached. Consult the Bootstrap documentation for that.</p>
</template>