<template name="dropdowns">
	<h1>Dropdown</h1>
	<hr>

	<h2 class="my-4">Single button</h2>

	{{#dropdown label="Dropdown button"}}
		<a class="dropdown-item" href="#dropdowns">Action</a>
		<a class="dropdown-item" href="#dropdowns">Another action</a>
		<a class="dropdown-item" href="#dropdowns">Something else here</a>
	{{/dropdown}}
	
	{{#code}}
		{{|#dropdown label="Dropdown button"}}
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Another action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Something else here&lt;/a&gt;
		{{|/dropdown}}
	{{/code}}

	<h2 class="my-4">Theme colors</h2>

	{{#each themeColors}}
		{{#dropdown label=this type=this}}
			<a class="dropdown-item" href="#dropdowns">Action</a>
			<a class="dropdown-item" href="#dropdowns">Another action</a>
			<a class="dropdown-item" href="#dropdowns">Something else here</a>
		{{/dropdown}}
	{{/each}}

	{{#code}}
		{{|#each themeColors}}
			{{|#dropdown label=this type=this}}
				&lt;a class="dropdown-item" href="#dropdowns"&gt;Action&lt;/a&gt;
				&lt;a class="dropdown-item" href="#dropdowns"&gt;Another action&lt;/a&gt;
				&lt;a class="dropdown-item" href="#dropdowns"&gt;Something else here&lt;/a&gt;
			{{|/dropdown}}
		{{|/each}}
	{{/code}}

	<h2 class="my-4">Split button</h2>

	{{#each themeColors}}
		{{#dropdown label=this type=this split=true}}
			<a class="dropdown-item" href="#dropdowns">Action</a>
			<a class="dropdown-item" href="#dropdowns">Another action</a>
			<a class="dropdown-item" href="#dropdowns">Something else here</a>
		{{/dropdown}}
	{{/each}}

	{{#code}}
		{{|#each themeColors}}
			{{|#dropdown label=this type=this split=true}}
				&lt;a class="dropdown-item" href="#dropdowns"&gt;Action&lt;/a&gt;
				&lt;a class="dropdown-item" href="#dropdowns"&gt;Another action&lt;/a&gt;
				&lt;a class="dropdown-item" href="#dropdowns"&gt;Something else here&lt;/a&gt;
			{{|/dropdown}}
		{{|/each}}
	{{/code}}

	<h2 class="my-4">Sizing</h2>

	{{#dropdown label="Large button" size="lg"}}
		<a class="dropdown-item" href="#dropdowns">Action</a>
		<a class="dropdown-item" href="#dropdowns">Another action</a>
		<a class="dropdown-item" href="#dropdowns">Something else here</a>
	{{/dropdown}}

	{{#dropdown label="Large split button" size="lg" split=true}}
		<a class="dropdown-item" href="#dropdowns">Action</a>
		<a class="dropdown-item" href="#dropdowns">Another action</a>
		<a class="dropdown-item" href="#dropdowns">Something else here</a>
	{{/dropdown}}

	{{#code}}
		{{|#dropdown label="Large button" size="lg"}}
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Another action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Something else here&lt;/a&gt;
		{{|/dropdown}}

		{{|#dropdown label="Large split button" size="lg" split=true}}
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Another action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Something else here&lt;/a&gt;
		{{|/dropdown}}
	{{/code}}

	{{#dropdown label="Small button" size="sm"}}
		<a class="dropdown-item" href="#dropdowns">Action</a>
		<a class="dropdown-item" href="#dropdowns">Another action</a>
		<a class="dropdown-item" href="#dropdowns">Something else here</a>
	{{/dropdown}}

	{{#dropdown label="Small split button" size="sm" split=true}}
		<a class="dropdown-item" href="#dropdowns">Action</a>
		<a class="dropdown-item" href="#dropdowns">Another action</a>
		<a class="dropdown-item" href="#dropdowns">Something else here</a>
	{{/dropdown}}

	{{#code}}
		{{|#dropdown label="Large button" size="sm"}}
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Another action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Something else here&lt;/a&gt;
		{{|/dropdown}}

		{{|#dropdown label="Large split button" size="sm" split=true}}
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Another action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Something else here&lt;/a&gt;
		{{|/dropdown}}
	{{/code}}

	<h2 class="my-4">Dropup</h2>

	{{#dropdown label="Dropup" direction="up"}}
		<a class="dropdown-item" href="#dropdowns">Action</a>
		<a class="dropdown-item" href="#dropdowns">Another action</a>
		<a class="dropdown-item" href="#dropdowns">Something else here</a>
	{{/dropdown}}

	{{#dropdown label="Split dropup" direction="up" split=true}}
		<a class="dropdown-item" href="#dropdowns">Action</a>
		<a class="dropdown-item" href="#dropdowns">Another action</a>
		<a class="dropdown-item" href="#dropdowns">Something else here</a>
	{{/dropdown}}

	{{#code}}
		{{|#dropdown label="Dropup" direction="up"}}
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Another action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Something else here&lt;/a&gt;
		{{|/dropdown}}

		{{|#dropdown label="Split dropup" direction="up" split=true}}
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Another action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Something else here&lt;/a&gt;
		{{|/dropdown}}
	{{/code}}

	<h2 class="my-4">Dropright</h2>

	{{#dropdown label="Dropright" direction="right"}}
		<a class="dropdown-item" href="#dropdowns">Action</a>
		<a class="dropdown-item" href="#dropdowns">Another action</a>
		<a class="dropdown-item" href="#dropdowns">Something else here</a>
	{{/dropdown}}

	{{#dropdown label="Split dropright" direction="right" split=true}}
		<a class="dropdown-item" href="#dropdowns">Action</a>
		<a class="dropdown-item" href="#dropdowns">Another action</a>
		<a class="dropdown-item" href="#dropdowns">Something else here</a>
	{{/dropdown}}

	{{#code}}
		{{|#dropdown label="Dropright" direction="right"}}
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Another action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Something else here&lt;/a&gt;
		{{|/dropdown}}

		{{|#dropdown label="Split dropright" direction="right" split=true}}
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Another action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Something else here&lt;/a&gt;
		{{|/dropdown}}
	{{/code}}

	<h2 class="my-4">Dropleft</h2>

	{{#dropdown label="Dropleft" direction="left"}}
		<a class="dropdown-item" href="#dropdowns">Action</a>
		<a class="dropdown-item" href="#dropdowns">Another action</a>
		<a class="dropdown-item" href="#dropdowns">Something else here</a>
	{{/dropdown}}

	{{#dropdown label="Split dropleft" direction="left" split=true}}
		<a class="dropdown-item" href="#dropdowns">Action</a>
		<a class="dropdown-item" href="#dropdowns">Another action</a>
		<a class="dropdown-item" href="#dropdowns">Something else here</a>
	{{/dropdown}}

	{{#code}}
		{{|#dropdown label="Dropleft" direction="left"}}
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Another action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Something else here&lt;/a&gt;
		{{|/dropdown}}

		{{|#dropdown label="Split dropleft" direction="left" split=true}}
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Another action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Something else here&lt;/a&gt;
		{{|/dropdown}}
	{{/code}}

	<h2 class="my-4">Menu items</h2>

	<p>Since menu items have such a high variability with this component it may become too opinionated to create a component for them.
	Therefore they are omitted for now.</p>

	<h2 class="my-4">Dropdown options</h2>

	<h3>Offset</h3>

	{{#dropdown label="Dropdown button" offset="10,20"}}
		<a class="dropdown-item" href="#dropdowns">Action</a>
		<a class="dropdown-item" href="#dropdowns">Another action</a>
		<a class="dropdown-item" href="#dropdowns">Something else here</a>
	{{/dropdown}}

	{{#code}}
		{{|#dropdown label="Dropdown button" offset="10,20"}}
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Another action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns"&gt;Something else here&lt;/a&gt;
		{{|/dropdown}}
	{{/code}}

	<h2 class="my-4">Events</h2>

	{{#dropdown id="eventsExample1" label="On show" onShow=getOnShow}}
		<a class="dropdown-item" href="#dropdowns" data-value="Action">Action</a>
		<a class="dropdown-item" href="#dropdowns" data-value="Another action">Another action</a>
		<a class="dropdown-item" href="#dropdowns" data-value="Something else here">Something else here</a>
	{{/dropdown}}

	{{#dropdown id="eventsExample2" label="On shown" onShown=getOnShown}}
		<a class="dropdown-item" href="#dropdowns" data-value="Action">Action</a>
		<a class="dropdown-item" href="#dropdowns" data-value="Another action">Another action</a>
		<a class="dropdown-item" href="#dropdowns" data-value="Something else here">Something else here</a>
	{{/dropdown}}

	{{#dropdown id="eventsExample3" label="On hide" onHide=getOnHide}}
		<a class="dropdown-item" href="#dropdowns" data-value="Action">Action</a>
		<a class="dropdown-item" href="#dropdowns" data-value="Another action">Another action</a>
		<a class="dropdown-item" href="#dropdowns" data-value="Something else here">Something else here</a>
	{{/dropdown}}

	{{#dropdown id="eventsExample4" label="On hidden" onHidden=getOnHidden}}
		<a class="dropdown-item" href="#dropdowns" data-value="Action">Action</a>
		<a class="dropdown-item" href="#dropdowns" data-value="Another action">Another action</a>
		<a class="dropdown-item" href="#dropdowns" data-value="Something else here">Something else here</a>
	{{/dropdown}}

	{{#code}}
		{{|#dropdown id="eventsExample1" label="On show" onShow=getOnShow}}
			&lt;a class="dropdown-item" href="#dropdowns" data-value="Action"&gt;Action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns" data-value="Another action"&gt;Another action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns" data-value="Something else here"&gt;Something else here&lt;/a&gt;
		{{|/dropdown}}

		{{|#dropdown id="eventsExample2" label="On shown" onShown=getOnShown}}
			&lt;a class="dropdown-item" href="#dropdowns" data-value="Action"&gt;Action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns" data-value="Another action"&gt;Another action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns" data-value="Something else here"&gt;Something else here&lt;/a&gt;
		{{|/dropdown}}

		{{|#dropdown id="eventsExample3" label="On hide" onHide=getOnHide}}
			&lt;a class="dropdown-item" href="#dropdowns" data-value="Action"&gt;Action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns" data-value="Another action"&gt;Another action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns" data-value="Something else here"&gt;Something else here&lt;/a&gt;
		{{|/dropdown}}

		{{|#dropdown id="eventsExample4" label="On hidden" onHidden=getOnHidden}}
			&lt;a class="dropdown-item" href="#dropdowns" data-value="Action"&gt;Action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns" data-value="Another action"&gt;Another action&lt;/a&gt;
			&lt;a class="dropdown-item" href="#dropdowns" data-value="Something else here"&gt;Something else here&lt;/a&gt;
		{{|/dropdown}}
	{{/code}}

	<p>Where the helpers are defined as the following:</p>

	{{#code}}
		Template.myTemplate.helpers({
		  getOnShow () {
		    return (res) => alert("shown via " + res.relatedTarget.id)
		  },
		  getOnShown () {
		    return (res) => alert("shown via " + res.relatedTarget.id)
		  },
		  getOnHide () {
		    return (res) => alert("selected: " + $(res.clickEvent.originalEvent.target).data('value'))
		  },
		  getOnHidden () {
		    return (res) => alert("selected: " + $(res.clickEvent.originalEvent.target).data('value'))
		})
	{{/code}}

	<p>Note, that events can also be manually attached. Consult the Bootstrap documentation for that.</p>
</template>