<template name="badges">
    <h1>Badges</h1>
    <hr>

    <h2>Example</h2>
    <h1>Example heading {{> badge content="New"}}</h1>
    <h2>Example heading {{> badge content="New"}}</h2>
    <h3>Example heading {{> badge content="New"}}</h3>
    <h4>Example heading {{> badge content="New"}}</h4>
    <h5>Example heading {{> badge content="New"}}</h5>
    <h6>Example heading {{> badge content="New"}}</h6>

    <h2>Button</h2>
    <button type="button" class="btn btn-primary">
        Notifications {{> badge type="light" content=4}}
    </button>


    <h2>Contextual variations</h2>
    {{#each themeColors}}
        {{> badge type=this content=this}}
    {{/each}}

    <h2>Pill badges</h2>
    {{#each themeColors}}
        {{> badge type=this content=this pill=true}}
    {{/each}}

    <h2>Links</h2>
    {{#each themeColors}}
        {{> badge type=this content=this link=true atts=atts}}
    {{/each}}
</template>