<template name='toasts'>
  <h1>Toasts</h1>
  <hr>

  <h2>Event Handler</h2>
  {{#each themeColors}}
    {{> button colortype=this data-color=this label="Add Toast"}}
  {{/each}}
  {{#code}}
{{|#each themeColors}}
  {{|> button colortype=this data-color=this label="Add Toast"}}
{{|/each}}

const positions = ['top-right', 'top-left', 'bottom-left', 'bottom-right']
Template.toasts.onCreated(function () {
  const instance = this
  instance.counter = 1
  instance.position = 0
})

Template.toasts.events({
  'click button' (event, instance) {
    const color = event.currentTarget.dataset.color
    BlazeBs4.toast.add({
      label: `Hello World ${color}`,
      body: `<p>This is my ${englishCount(instance.counter++)} toast</p><p>${new Date()}</p>`,
      headerBg: color,
      headerFg: color === 'light' ? 'dark' : 'light',
      width: '30em',
      transparent: false,
      autohide: false,
      animation: true,
      showId: true,
      position: positions[instance.position++]
    })
    if (instance.position>=positions.length) instance.position = 0
  }
})

  {{/code}}

  <h2>Embed the parent for the toasts on your page</h2>
  <h3>Load the BlazeBs4.toast component</h3>
{{#code}}
Template.mainTarget.onCreated(function () {
  const instance = this
  instance.state = new ReactiveDict()

  Promise.all([
    BlazeBs4.navbar.load(),
    BlazeBs4.collapse.load(),
    BlazeBs4.toast.load(),
  ]).then(() => instance.state.set('navLoaded', true))

  instance.autorun(() => {
    FlowRouter.watchPathChange()
    const currentContext = FlowRouter.current()
    const { path } = currentContext
    current.set(path.replace('/', ''))
  })
})
{{/code}}
  <h3>Embed the {{|>toasts}} so they are visible on every page</h3>
{{#code}}
.
.
.
&lt;template name="mainTarget"&gt;
	&lt;main class="container{{|#if fluid}}-fluid{{|/if}} my-4"&gt;
		{{|#if navLoaded}}
			{{|>toast}}
		{{|/if}}
		{{|> yield}}
  &lt;main&gt;
&lt;template&gt;
.
.
.
{{/code}}


  <h2>Arguments for BlazeBs4.toast.add and its defaults</h2>
  {{#code}}
BlazeBs4.toast.add = function({
  label = "test",
  body = "body",
  small = '',
  autohide = true,
  delay = 5000,
  headerBg = "warning",
  headerFg = "light",
  transparent = true,
  animation = true,
  showId = false,
  width = 'inherit',
  position = 'top-right' // top-right, top-left, bottom-right, bottom-left
})
  {{/code}}
</template>