.toasts {
    position: absolute;
    z-index:1999;
}
#toasts {
    top: 5rem;
    right: 0;
}
.toasts.top.hasScrolled {
    position: fixed;
    top: 1rem;
}
.toasts.bottom.hasScrolled {
    position: fixed;
    bottom: 1rem;
}
.toasts.top {
    top:4rem;
}
.toasts.bottom {
    bottom: 0;
}
.toasts.right {
    right: 1rem;
}
.toasts.left {
    left: 1rem;
}
.toasts.right .toast {
    /* make toasts right-justified */
    margin-left: auto;
}
.toasts.left .toast {
    margin-right: auto;
}