<template name="alerts">
    <h1>Alerts</h1>
    <hr>
    <h6>One-Liner</h6>
    {{>alert heading="One-Liner, yeah!"}}

    <h6>Simple Alerts</h6>
    {{#each themeColors}}
        {{#alert type=this}}
            A simple {{this}} alert—check it out!
        {{/alert}}
    {{/each}}

    <h6>Additional content</h6>
    {{#alert type="primary" heading="Well done!"}}
        <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer
            so
            that you can see how spacing within an alert works with this kind of content.</p>
        <hr>
        <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
    {{/alert}}

    <h6>Dismissing</h6>
    {{#alert heading="Dismissible" dismissible=true}}
        <p>Click the x Button to dismiss this alert.</p>
    {{/alert}}

    <h6>With events</h6>
    {{#alert heading="OnClose" dismissible=true onClose=onClose}}
        <p>You can hook up events like <code>onClose</code>.</p>
    {{/alert}}

    {{#alert type="info" heading="OnClosed" dismissible=true onClosed=onClosed}}
        <p>You can hook up events like <code>onClosed</code>.</p>
    {{/alert}}
</template>